# PyCharm Ignore
.idea/*

# Data files
data/*
IRMAS/*

# PipEnv
Pipfile.lock
.env

# Emacs ignore
\#*#
*~
.#*

DataHandler/__pycache__/*
Models/__pycache__/*
Models/CrossValidation/__pycache__/*
Utilities/__pycache__/*
